<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>" dir="<%= htmlWebpackPlugin.options.direction %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">

    <title><%= htmlWebpackPlugin.options.title || 'Untitled' %></title>

    <% if (htmlWebpackPlugin.files.favicon) { %>
    <link rel="icon" type="image/x-icon" href="<%= htmlWebpackPlugin.files.favicon + '?v=' + Date.now() %>">
    <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.files.favicon + '?v=' + Date.now() %>">
    <% } %>
</head>

<body>
    <% if (htmlWebpackPlugin.options.noscript) { %>
    <noscript><%= htmlWebpackPlugin.options.noscript %></noscript>
    <% } %>
    <div id="app"></div>
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js]  %>"></script>
    <% } %>
</body>
</html>
